
@import url('https://fonts.googleapis.com/css?family=Rye');

/*******************
    Nav Bar Styles
********************/

body{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 70px;
    color: red;
    /*useful for nav bars that scroll interestingly*/
    position: fixed;
    z-index: 10;
    background-color: rgba(228, 114, 151, 0.5);
}

header h1{
    display: inline-block;
    margin: 0;
    padding: 10px;
    padding-top: 15px;
    text-decoration: none;
    font-family: 'Rye', sans-serif;  
}

header h1 a{
    text-decoration: none;
    color: darkred;
    font: 36px 'Rye' 'Helvetica' sans-serif;
}

nav{
    float: right;
    display: inline-block;
    margin-right: 50px;
}

nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    height: 70px;
    line-height: 70px;
    width: 150px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Rye', sans-serif;
}

nav a{
    text-decoration: none;
    color: white;
    display: block;
    transition: all 200ms ease;
}

nav a:hover{
    background-color: rgba(228, 114, 151, 0.8);
    color: rgb(139,0,0);
}

nav a:active{
    background-color: rgba(228, 114, 151, 0.8);
    color: rgb(139,0,0);
}

/*****************
    Body
******************/

html{
    background: url(../img/textured_paper_@2X.png) repeat fixed;
    padding: 0;
    margin: 0;
}

div{
    width: 600px;
    margin: 200px auto;
    padding: 0;
    float: left;
}

.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 300px;
}

.basic{
    width:400px;
    background: rgba(202, 38, 139, 0.6);
}

div p {
    margin: 0 auto;
    padding: 0 auto;
    float: center;
}